<html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="container-fluid">
        <h1 class="text-center">Edit</h1>
        <form action="/arts/<%=art._id%>?_method=PUT" method="POST">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="title">Title</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="title" value="<%=art.title%>" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="img">Image</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="img" value="<%=art.img%>" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="artist">Artist</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="artist" value="<%=art.artist%>" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="artistBio">Artist's Biographie</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="artistBio" value="<%=art.artistBio%>" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="dateCreated">Created Date</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="dateCreated" value="<%=art.dateCreated%>" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="description">Description</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="description" value="<%=art.description%>" />               
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="category">Category</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="category" value="<%=art.category%>" />                
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="museum">Museum</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="museum" value="<%=art.museum%>" />                
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="tags">Tags</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="tags" value="<%=art.tags%>" />
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
    
            <!-- <div class="form-group row">
                
            </div> -->
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
