<html>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <div class="container mt-5 mb-5 p-5">
        <div class="card text-center m-5">
            <!-- Button trigger modal -->
            <a role="button" data-toggle="modal" data-target="#modal">
                <img class="card-img-top" src="<%=art.img%>" alt="<%=art.title%>'s image">
            </a>
            <!-- xxxxxxxxxxxxxxxx -->
            <div class="card-body"> 
                <h5 class="card-title"><%=art.title%>, <span class="text-secondary card-text"><%=art.dateCreated%></span></h5>
                <h6 class="card-subtitle"><%=art.artist%>, <span class="text-secondary font-italic"><%=art.artistBio%></span></h6>
                <p class="card-text"><%=art.description%></p>
                <p class="card-text"><%=art.museum%></p>
                <div class="mt-3 d-flex justify-content-center align-items-center">
                    <form class="my-0" action="/arts/<%=art._id%>/add" method="POST">
                        <input class="btn btn-warning btn-sm" type="submit" value="ADD" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <div class="container d-flex justify-content-end">
                    <button class="btn-close" data-dismiss="modal" data-target="#modal"></button>
                </div>
                <img class="card-img-top" data-mdb-img="<%=art.img%>" class="w-100" src="<%=art.img%>" alt="<%=art.title%>'s image">
            </div>
        </div>
    </div>
    <!-- xxxxxxxx -->
    <%- include('./partials/footer.ejs') %>
</html>
